<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" contenteditable="true" spellcheck="true">
     <%= f.label :title %><br>
     <%= f.text_field :title, class: "form-control" %>
   </div>
   <div class="form-group" contenteditable="true" spellcheck="true">
     <%= f.label :description %><br>
     <%= f.text_area :description, class: "form-control", style: "height:260px;" %>
   </div>
   <br>
   <div class="form-group">
     <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
   </div>
<% end %>
