<h1><a href="#"><%= @post.title %></a><br>
   <small>Submitted by <%= @post.user.email %></small>
   <% if @post.user == current_user -%>
   <div class="btn-group pull-right">
   	<div class="btn-group">
   		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
   		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
   	</div>
  </div>
     <br>
   <% end %>
 </h1>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="description"><%= @post.description %></h4>
</div>
</div>
