<!DOCTYPE html>
<html>
<head>
  <title>DankBin</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
  rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <script src="https://use.fontawesome.com/5227777084.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81868222-2', 'auto');
    ga('send', 'pageview');
  </script>
  <style>
    .glyphicon {
      font-size: 15px;
    }
    .col-centered{
      float: none;
      margin: 0 auto;
    }
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #3e3f3a;
    }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
       data-target="bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>">
        <%= image_tag("logo.png", :alt => "rss feed", :height =>"65", :width => "225") %>
      </a>
    </div>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="#bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe,
           new_post_path, { :class => 'tooltips', 'data-toggle' => 'tooltip',
              'data-placement' => 'bottom', :title => 'New Post' } %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-inbox"></i>'.html_safe,
            conversations_path, { :class => 'tooltips', 'data-toggle' => 'tooltip',
              'data-placement' => 'bottom', :title => 'Inbox' } %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true"
             aria-expanded="false">
              <i class="glyphicon glyphicon-user"><span class="caret"></span></i></a>
            <ul class="dropdown-menu">
							<li><%= link_to 'Sign out', destroy_user_session_path,
               :method => :delete %></li>
              <li><%= link_to current_user.name, '#' %></li>
            </ul>
          </li>
        </ul>
      </div>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    </ul>
  <% end %>
</div>
</nav>

<!-- Main Content  -->
<div id="main_content" class="container">
  <div class="col-lg-12 col-centered">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <%= yield %>
  </div>
</div>
<br>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'About This Site', '/about',
         style: 'background-color:#3e3f3a'%></li>
        <li><%= link_to 'Contact The Developer', '/contact',
         style: 'background-color:#3e3f3a' %></li>
        <li><%= link_to 'Policy', '/policy',
         style: 'background-color:#3e3f3a' %></li>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Welcome, ' + current_user.name, '#',
           style: 'background-color:#3e3f3a' %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Welcome, Guest User', new_user_session_path,
           style: 'background-color:#3e3f3a' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</footer>

</body>
</html>
